*.o
*.a
*~
*.so
.envrc
.direnv
.metals/metals.log
.metals/metals.mv.db
.vscode/settings.json
build/*
CMakeCache.txt
cmake
CMakeLists.txt
cmake_install.cmake
CMakeLists.txt
Makefile
CMakeFiles/*
.idea/misc.xml
.idea/modules.xml
.idea/rpi-rgb-led-matrix.iml
.idea/vcs.xml
.idea
vcpkg
.cmake/api/v1/query/cache-v2
.cmake/api/v1/query/cmakeFiles-v1
.cmake/api/v1/query/codemodel-v2
.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
vcpkg
vcpkg
img/.DS_Store
ScreenTest